<h1>User一覧</h1>
<%= form_with(model: @users, method: :get, local: true, url: users_path) do |f| %>
  <%= f.text_field :name %>
  <%= f.submit '検索' %>
<% end %><br>
<% @users.each do |user| %>
  <% if user.id != current_user.id %>
    <%= image_tag(user.image.url) if user.image %>
    <%= link_to user.name, user_path(user.id) %>
    <%= link_to 'メッセージ',conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %><br>
  <% end %>
<% end %>
