<h1>仕事一覧</h1>
<%= notice %><br>
<%= link_to "新規作成 ", new_group_post_path %>
<%# -----レベルの小さい順に並べる------------------------------------------------ %>
<%# -----検索フォーム---------------------------------------------------------- %>
<%= form_with(model: @posts, method: :get, local: true, url: group_posts_path) do |f| %>
  <%#= f.label :title_search, '仕事'%>
  <%= f.text_field :title %>
  <%= f.submit '検索' %>
<% end %><br>

<% @posts.each do |post|%>
  <%= link_to(post.title,"/posts/#{post.id}") %><br>
  <%= image_tag(post.image.url) if post.image.url %><br>
<% end %>
