<!DOCTYPE html>
<html>
  <head>
    <title>Callme</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content=“width=device-width”>
  </head>
  <body>
    <header>
    <h1><%= link_to "callme", root_path %></h1>
        .envファイル実装<br>
        <%= link_to "callmeとは", about_path %><br>
        <%= link_to "map", posts_path %><br>
        <%= link_to "新規投稿", new_post_path %><br>
        <p>-------------------<p>
        <%= link_to "ユーザー一覧 いる？", users_path %><br>
      <% flash.each do |key, value| %>
       <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

       <% if logged_in? %>
        <%= link_to "プロフィール", user_path(current_user.id) %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
        <%= current_user.name %>
      <% else %>
        <%= link_to "新規登録", new_user_path %>
        <%= link_to "ログイン", new_session_path %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
